:root {
    --fs-xs: clamp(16px, 2vw, 18px);
    --fs-sm: clamp(16px, 2.5vw, 24px);
    --fs-md: clamp(24px, 4vw, 40px);
    --fs-lg: clamp(32px, 6vw, 64px);
    --fs: clamp(32px, 6vw, 80px);

    --space-xs: clamp(16px, 2.5vw, 24px);
    --space-sm: clamp(24px, 4vw, 40px);
    --space-md: clamp(32px, 4vw, 40px);
    --space-lg: clamp(40px, 6vw, 64px);
    --space: clamp(64px, 8vw, 80px);
    --space-max: clamp(64px, 8vw, 96px);

    --ff-cormorant: "Cormorant Infant", sans-serif;
    --ff-raleway: "Raleway", sans-serif;
}