html {
    --v3-white: #ffffff;
    --v3-white-1: #fffcf7;
    --v3-white-2: #fbf8f5;
    --v3-linen: #fbf4ea;
    --v3-brown: #d1a26a;
    --v3-brown-1: #edd8bf;
    --v3-brown-2: #e5caa9;
    --v3-gray: #7f7262;
    --v3-dark: #281e04;
    --v3-black: #000000;
}