.team-members {
    padding-block: var(--space) var(--space);}

.team-members-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.member {
    position: relative;
    width: 100%;
    height: 420px; 
    perspective: 1000px;
}

.flipCard-thumbnail,
.flipCard-behind {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    transition: transform .7s ease;
}

.flipCard-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flipCard-thumbnail {
    transform: rotateY(0deg);
}

.flipCard-behind {
    background-color: var(--v3-dark);
    padding: 40px 30px;
    color: var(--v3-white);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member:hover .flipCard-thumbnail {
    transform: rotateY(-180deg);
}

.member:hover .flipCard-behind {
    transform: rotateY(0deg);
}

.flipCard-about {
    font-size: var(--fs-xs);
    line-height: 1.6;
    color: var(--v3-white);
    font-style: italic;
}

.flipCard-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flipCard-fullname {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 4px;
    font-family: "Playfair Display", serif; 
}

.flipCard-position {
    font-size: 13px;
    opacity: 0.9;
}
