/* ========= GLOBAL ========= */
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #2a1f03;
}

/* ========= HEADER ========= */
.header {
    width: 100%;
 position: fixed;
    top: 0;
      background: var(--v3-white-1);
    z-index: 999;
}

/* ========= TOP LOGO BAR ========= */
.navbar-top {
      max-height: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 14px 5%;
    transition: max-height 0.4s ease, padding 0.4s ease
}

/* ========= DARK BAR ========= */
.navbar-inner {
       display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-column-gap: 24px;
    background: var(--v3-dark);
    padding: 16px 5%;
}

/* ========= SOCIAL ICONS ========= */
.navbar-contact {
    display: flex;
    align-items: center;
    gap: 22px;
}
.navbar-contact img {
    width: 22px;
    height: 22px;
    filter: brightness(3); /* Makes icons white */
}

/* ========= ADDRESS + OPEN ========= */
.navbar-info {
    display: flex;
   grid-column-gap:24px;
    justify-content: center;
    color: #ffffffcc;
    font-size: 14px;
}
.navbar-info span {
    font-size: 12px;
    opacity: 0.7;
    display: block;
    margin-bottom: 4px;
    text-transform: lowercase;
}
.info-block {
    line-height: 1.3;
}

/* ========= MENU ========= */
.navbar-menu {
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    align-items: center;
    gap: 42px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    color: #ffffffdd;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s ease;
}
.menu li:hover > a {
    color: #fff;
}

/* ========= DROPDOWN ========= */
.menu-item-has-children {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    background: #251A02;
    padding: 12px 18px;
    list-style: none;
    min-width: 180px;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
}

.sub-menu li a {
    display: block;
    padding: 6px 0;
    color: #ffffffcc;
    white-space: nowrap;
}
.sub-menu li a:hover {
    color: #fff;
}
.arrow-bounce {
    animation: bounce 1.2s infinite ease-in-out;
    transform-origin: center;
}
.hero {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.hero-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
.hero-lift {
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: -48px;
    background: var(--v3-white-1);
    border: 1px solid var(--v3-white-1);
    border-radius: 60px;
    transform: translateX(-50%);
    padding-bottom: 40px;
    z-index: 2;
}
.hero-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 24px;
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 0 5%;
    z-index: 2
}

.hero-lift {
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: -48px;
    background: var(--v3-white-1);
    border: 1px solid var(--v3-white-1);
    border-radius: 60px;
    transform: translateX(-50%);
    padding-bottom: 40px;
    z-index: 2
}

.H1ofHero {
    color: var(--v3-brown-1);
    font-family: var(--ff-cormorant);
    font-size: var(--fs);
    font-style: italic;
    line-height: 1.1;
}

.detail {
 
    justify-content: center;
}

.detail-inner {
     padding-left: 5%;
}

.detail-text {
        max-width: 565px;
    font-size: var(--fs-xs);
}

.detail-intra {
       display: grid
;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 80px;
    position: relative;
    margin: 32px 0 40px;
}

.detail-intra p {
     font-family: var(--ff-cormorant);
    font-size: 64px;
    line-height: 1.1;
}

.detail-figure-top {
  align-items: flex-end;
}

.detail-figure-middle {
   position: absolute;
    top: 80%;
    left: 50%;
    z-index: -1;
}

.detail-figure-bottom {
   display: flex
;
    flex-direction: column;
}

.ceo{
        padding-top: var(--space-lg);
}
.container-sm
 {
    max-width: 1024px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.ceo-inner{
    align-items: center;
}
.ceo-heading {
    text-align: center;
    font-family: var(--ff-cormorant);
    font-size: var(--fs-lg);
    font-style: italic;
    line-height: 1.1;
}
.ceo-text {
    text-align: center;
    margin: 16px 0 var(--space-sm);
    font-size: var(--fs-xs);
}
.ceo-thumbnail {
    width: 100%;
    align-items: center;
}
.ceo-after {
       width: 14vw;
    height: 16vw; background-image: url(/assets/images/ceo-after.png);
    top: 0;
    right: 0;
}
.ceo-before {
    width: 38vw;
    height: 32vw;
    bottom: 0;
    left: 0;
}
.ceo-after, .ceo-before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 0;
}
.service  {
        padding-block: var(--space) var(--space);
}
.relative {
    position: relative;
}
.container {
    max-width: 1440px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.service-desc{
        max-width: 33.7vw;
    min-width: 33.7vw;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--v3-white-1);
    padding: 0 3vw 2vw 0;
    z-index: 3;
}
.service-heading {
    font-family: var(--ff-cormorant);
    font-size: 4.4vw;
    font-style: italic;
    line-height: 1.1;
}
.service-text {
    font-size: 2vw;
    font-weight: 400;
    text-align: right;
    margin-top: 1vw;
}
.service-inner {
    height: 59vw;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 1.2vw;
}
.service-title {
    position: absolute;
    font-size: 1.8vw;
    font-weight: 500;
    text-align: center;
}
.service-title a {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--v3-dark);
    background: rgba(229, 202, 169, 0.24);
    backdrop-filter: blur(6px);
    padding: 1vw;
    transition: color 300ms ease;
}
.service-title:nth-child(1) {
    width: 33.8vw;
    top: 23.8vw;
    left: 0;
    border-radius: 1.5vw 1.5vw 0 0;
}
.service-title:nth-child(2) {
    width: 27.1vw;
    top: 23.8vw;
    left: 53.67%;
    transform: translateX(-50%);
    border-radius: 1.5vw 1.5vw 0 0;
}
.service-title:nth-child(3) {
    width: 27.1vw;
    top: 23.8vw;
    right: 0;
    border-radius: 1.5vw 1.5vw 0 0;
}
.service-title:nth-child(4) {
    width: 44.4vw;
    bottom: 23vw;
    left: 0;
    transform: translateY(-50%);
    border-radius: 0 0 1.5vw 1.5vw;
}
 .service-title:nth-child(5) {
    width: 44.4vw;
    bottom: 23vw;
    right: 0;
    transform: translateY(-50%);
    border-radius: 0 0 1.5vw 1.5vw;
}
.gallery {
    padding-top: 24px;
}
.gallery-desc {
    max-width: 767px;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 
.gallery-heading {
    font-family: var(--ff-cormorant);
    font-size: var(--fs-lg);
    font-style: italic;
    line-height: 1.1;
}
.gallery-text {
    font-size: var(--fs-xs);
    margin-top: var(--space-xs);
}
.gallery .container {
    overflow: hidden;
}
.gallery-inner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-top: var(--space-sm);
}
.gradient-shift {
    overflow: hidden;
    transition: all 0.5s ease;
    animation: gradientShift 4s ease infinite;
}
.gallery video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial {
    position: relative;
    background: var(--v3-linen);
    padding-top: 40px;
    margin-top: var(--space);
}
.container {
    max-width: 1440px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.swiper {
    padding-bottom: 68px;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
.testimonial .cart {
    max-width: 668px;
    width: 90%;
    margin: 0 auto 0;
}
.social {
    background: var(--v3-linen);
    padding-bottom: var(--space)
}

.social-heading {
    font-family: var(--ff-cormorant);
    font-size: var(--fs-lg);
    font-style: italic;
    line-height: 1.1;
    text-align: center
}

.social-inner {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: var(--space-md);
    padding-left: 15%;
    padding-right: 15%;
}

.footer {
    margin-top: auto
}

.footer-inner {
    background: var(--v3-dark)
}

.footer-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 32px;
    border-bottom: 1px solid var(--v3-white);
    padding: 40px 5%
}

.footer-desc {
    display: flex;
    flex-direction: column;
    grid-row-gap: clamp(16px, 3vw, 26px)
}

.footer-desc p {
    color: var(--v3-white)
}

.footer-desc p:nth-child(1) {
    font-family: var(--ff-cormorant);
    font-weight: 600;
    font-size: clamp(24px, 5vw, 64px);
    line-height: 1.1
}

.footer-desc p:nth-child(2) {
    font-size: clamp(16px, 2vw, 18px)
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-row-gap: clamp(12px, 1.8vw, 16px)
}

.footer .contact-point {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-row-gap: clamp(12px, 1.8vw, 16px)
}

.footer .contact-point a {
    color: var(--v3-white);
    font-size: 14px;
    transition: color 300ms ease
}

.footer .contact-point a:hover {
    color: var(--v3-brown)
}

.footer-social {
    display: flex;
    grid-column-gap: 16px
}

.footer address:hover a {
    color: var(--v3-brown)
}

.footer address span {
    color: #cbcbcb;
    font-size: 13px;
    margin-right: 4px
}

.footer .working-times {
    color: var(--v3-white);
    font-size: 14px
}

.footer .working-times span {
    color: #cbcbcb;
    font-size: 13px;
    margin-right: 4px
}

.footer svg path {
    transition: fill 300ms ease
}

.footer svg:hover path {
    fill: var(--v3-brown)
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 80px;
    grid-row-gap: clamp(24px, 4vw, 32px);
    padding: 40px 5% 16px
}

.footer-logo img {
    max-width: clamp(198px, 24vw, 340px)
}

.footer-secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-row-gap: 18px
}

.footer .copyright {
    display: flex;
    grid-column-gap: 24px;
    grid-row-gap: 10px
}

.footer .copyright p,.footer .copyright a {
    color: var(--v3-white)
}

.footer .copyright a {
    transition: color 300ms ease
}

.footer .copyright a:hover {
    color: var(--v3-brown)
}

.footer .menu {
    display: flex;
    grid-column-gap: 32px;
    grid-row-gap: 10px
}

.footer .menu-item a {
    color: var(--v3-white);
    transition: color 300ms ease
}

.footer .menu-item a:hover {
    color: var(--v3-brown)
}

.footer .hogi {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column-gap: 12px;
    padding: 0 5% 24px 5%
}

.footer .hogi p {
    color: var(--v3-white)
}

.footer .hogi img {
    vertical-align: middle
}

@media only screen and (max-width: 991px) {
    .footer-details {
        grid-template-columns:1fr
    }

    .footer-contact,.footer .contact-point {
        justify-content: flex-start;
        align-items: flex-start
    }

    .footer-info {
        grid-template-columns: 1fr
    }

    .footer-secondary {
        justify-content: flex-start;
        align-items: flex-start
    }

    .footer .hogi {
        justify-content: flex-start
    }
}
